In [24]:
import pandas as pd
import os
import csv
import helper

In [6]:
train_file = pd.read_csv('../data/trainLabels.csv')

In [7]:
train_file.head()

   id       label
0   1        frog
1   2       truck
2   3       truck
3   4        deer
4   5  automobile

In [8]:
train_base_path='/home/jshoun01/Data/kaggle/cifar10/data/train'
test_base_path='/home/jshoun01/Data/kaggle/cifar10/data/test'

In [9]:
labels=list(train_file['label'].unique())
labels_dict = {item : index for index, item in enumerate(labels)}
labels_dict_pair=sorted(labels_dict.items(), key=lambda x: x[1])

In [10]:
labels

['frog',
 'truck',
 'deer',
 'automobile',
 'bird',
 'horse',
 'ship',
 'cat',
 'dog',
 'airplane']

In [11]:
labels_dict

{'airplane': 9,
 'automobile': 3,
 'bird': 4,
 'cat': 7,
 'deer': 2,
 'dog': 8,
 'frog': 0,
 'horse': 5,
 'ship': 6,
 'truck': 1}

In [12]:
labels_dict_pair

[('frog', 0),
 ('truck', 1),
 ('deer', 2),
 ('automobile', 3),
 ('bird', 4),
 ('horse', 5),
 ('ship', 6),
 ('cat', 7),
 ('dog', 8),
 ('airplane', 9)]

In [14]:
csvfile= '../data/label_mapping.csv'
with open(csvfile, "w") as output:
    writer = csv.writer(output, lineterminator='\n')
    for key, value in labels_dict_pair:
        writer.writerow([key, value])

In [15]:
csvfile= '../data/label_mapping_just_name.csv'
with open(csvfile, "w") as output:
    writer = csv.writer(output, lineterminator='\n')
    for key, value in labels_dict_pair:
        writer.writerow([key])

In [37]:
train_file['full_file'] =train_file['id'].apply(lambda x: '%s/%s.png'%(train_base_path,x))
train_file['label_num']=train_file['label'].apply(lambda x: labels_dict[x] )
train_file['file_name']=train_file['id'].apply(lambda x: '%s.png'%(str(x)) )

In [38]:
train_file.head()

,id,label,full_file,label_num,file_name
0,1,frog,/home/jshoun01/Data/kaggle/cifar10/data/train/...,0,1.png
1,2,truck,/home/jshoun01/Data/kaggle/cifar10/data/train/...,1,2.png
2,3,truck,/home/jshoun01/Data/kaggle/cifar10/data/train/...,1,3.png
3,4,deer,/home/jshoun01/Data/kaggle/cifar10/data/train/...,2,4.png
4,5,automobile,/home/jshoun01/Data/kaggle/cifar10/data/train/...,3,5.png

In [19]:
train_file[['full_file','label_num']].to_csv('../data/train_file_digits.csv',header=False,index=False,sep=' ')

In [20]:
test_files= os.listdir(test_base_path)
test_files = map(lambda x: '%s/%s'%(test_base_path,x),test_files)

In [21]:
test_files[0]

'/home/jshoun01/Data/kaggle/cifar10/data/test/34434.png'

In [22]:
#Assuming res is a flat list
csvfile ='../data/test_file_digits.csv'
res =test_files
with open(csvfile, "w") as output:
    writer = csv.writer(output, lineterminator='\n')
    for val in res:
        writer.writerow([val])

In [ ]:
features=all_train_df[['id','filename','full_filename']]
labels=all_train_df['label']

In [47]:
X_train_df,X_test_df,y_train,y_test= helper.get_stratified_train_test_split(
    train_file[['file_name']],train_file['label_num'])

In [50]:
pd.concat([X_train_df,y_train],axis=1).to_csv('../data/same_train_digits.csv',header=False,index=False,sep=' ')

In [51]:
pd.concat([X_test_df,y_test],axis=1).to_csv('../data/same_test_digits.csv',header=False,index=False,sep=' ')

In [55]:
pd.concat([X_train_df,y_train],axis=1).head()

       file_name  label_num
1197    1198.png          5
208      209.png          1
46154  46155.png          5
37518  37519.png          0
26210  26211.png          7

In [54]:
pd.read_csv('../data/same_train_digits.csv').head()

    1198.png 5
0    209.png 1
1  46155.png 5
2  37519.png 0
3  26211.png 7
4  46068.png 5