In [9]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([{'name':'name1','age':'0'},{'name':'name1','age':'2'},{'name':'name1','age':'2'},{'name':'name2','age':'0'}])

In [3]:
df

  age   name
0   0  name1
1   2  name1
2   2  name1
3   0  name2

In [6]:
set(zip([df.age,df.name]))

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [14]:
np.unique(df['age']+ df['name'])

array(['0name1', '0name2', '2name1'], dtype=object)

In [12]:
pd.concat([df['age'], df['name']]).unique()

array(['0', '2', 'name1', 'name2'], dtype=object)

In [13]:
pd.concat([df['age'], df['name']])

0        0
1        2
2        2
3        0
0    name1
1    name1
2    name1
3    name2
dtype: object